
@{
    ViewBag.Title = "SaveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main" id="saveCourse">
    <div class="container center_div">
        <div class="row">
            <div class="col-md-12">
                <br />
                <div class="col-sm-6 col-sm-offset-3">
                    <form action="" autocomplete="off" id="admin-form">
                        <div class="row">
                            <div class="col-lg-3"><label for="">Course Name</label></div>
                            <div class="col-lg-9"><input class="form-control" required v-model="course.CourseName" id="" name="" type="text"></div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3"><label for="">Credit Hours</label></div>
                            <div class="col-lg-9"><input class="form-control" required v-model="course.CreditHours" name="" type="text"></div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3"><label for="">Author</label></div>
                            <div class="col-lg-9"><input class="form-control" required type="text" v-model="course.Author"></div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3"><label for="">Status</label></div>
                            <div class="col-lg-9">
                                <select ref="selectedStatus" v-model="course.Status" class="form-control">
                                    <option value="-1">Select Status</option>
                                    <option v-for="status in statuses" :value="status.StatusId">{{status.Name}}</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9"> <input type="button" v-on:click="SaveCourse" value="Save" class="btn btn-primary" style="width:100%"></div>
                        </div><br>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Application/savecourse.js"></script>
}

